@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Kalam:wght@300;400;700&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body{
    background-color: #33313c;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.viewPort{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 110%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.viewPort .preview{
    color: white;
    font-size: 1.5rem;
    margin-left: -43% ;
}

.ShareQuoteContainer{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 1% 3%;
    resize: both !important;
    overflow: auto;
}

.customization{
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.dynamicUnit {
    border-radius: 20px 20px 0px 0px;
    color: white;
    width: 50%;
    height: 100px;
    position: fixed;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #3c3e4d;
    overflow-x: scroll;
    scrollbar-width: none;
    padding-left: 2%;
}


.colorSelector{
    display: flex;
}


.homeButton{
    background-color: transparent !important;
}





.colorButton {
    min-width: 40px;
    height: 40px;
    border: none;
    margin: 5px ;
    cursor: pointer;
    border-radius: 50%;
    border: solid 3px rgba(255, 255, 255, 0.929);
}

.colorSelector input[type="color"]{
    display: none;
}


.fontSelector{
    display: flex;
    width: 110%;
    justify-content: space-evenly;
    margin-top: 10px;
}

.fontSelector select, .exportSelector select{
    border: none;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
  .fontSelector option{
    background-color: #726fad;
    color: black;
}

.fontSelector option:hover{
    background-color: #3d3b62;
    color: black;
}

.fontSelector .right{
    width: 50%;
}

.fontSelector .right button, .exportSelector button{ 
    margin-left: 10px;
}

.fontSelector .left input{
    border: none;
    font-size: 1.2rem;
    margin-top: 7px;
}

.alignmentSelector, .showHideSelector{
    display: flex;
    justify-content: space-evenly;
}
.alignmentSelector button, .showHideSelector button, .fontSelector .right button, .exportSelector button {
    border: none;
    background-color: rgba(255, 255, 255, 0.823);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.964);
    border-radius: 5px;
    background-size: 70% 100%;
    background-repeat: no-repeat;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #4d64d6;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .right{
    font-weight: 500;
  }

  .heightWidthSelection{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        font-size: 1.1rem;
  }

  .heightWidthSelection input{
    width: 20%;
    height: 40px;
    color: white;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.867);
    background-color: transparent;
    padding: 5px;
  }

  .heightWidthSelection select{
    margin-right: 10px;
  }



/* responsive */
@media only screen and (max-width: 600px) {

    .viewPort{
        margin-top: -10%;
        height: 86vh;
    }

    .ShareQuoteContainer{
        width: 90%;
        height: 60%;
        padding: 1% 2%;
    }

    .dynamicUnit{
        width: 90%;
        height: 110px;
        padding: 20px;
    }

    .fontSelector{
        width: 100%;
        display: block;
        padding: 0px;
        margin-top: -10px;
        align-items: center;
        justify-content: center;
    }

    .fontSelector select{
        font-size: 1rem;
        margin-top: 20px;
        height: 40px;
        width: 200%;
    }


    input[type="range"]{
        margin-top: 10px;
        width: 200%;
    }
    
    .alignmentSelector button{
        width: 20%;
        font-size: 0.8rem;
    }


    .exportSelector .heightWidthSelection{
        display: inline;
        font-size: 1rem;
    }

    .exportSelector .heightWidthSelection select{
        width: 100%;
    }
    .centered input{
        width: 30%;
    }

    .exportSelector .right button{
        margin-top: 30px !important;
    }

    .font-size-tag{
        display: none;
    }
    
}


.watermark {
    width: 100%;
    padding-top: 2%;
    bottom: 10px;
    mix-blend-mode: darken;
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.4;
    user-select: none;
}


.watermark:hover{
    opacity: 1;
}